.jumbotron {
    background: url("../../assets/images/smoke.jpg");
    background-size: cover;
}

.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
    margin: 10px;    
    width: 10em;
}

.display-3, .lead {
    color: #5f24bf;
}